.site-main {
	@include container( $size-post-width );
	padding: 0 80px;
}

body.page {
	.site-main {
		width: 100%;
		padding: 0;
	}

	.entry-title {
		@include banner-bg( $size-post-width );
		@include font-size( $font-size-level-1 );
		font-family: $font-fancy;
		line-height: 0.9;
		font-weight: 400;
		color: $white;

		&:before {
			background-image: url( "#{$svg-w}" );
			background-size: 1000px auto;
			background-repeat: no-repeat;
			background-position: 60vw -160px;
		}
	}

	.entry-summary,
	.entry-content {
		@include container( $size-post-width );
		margin-bottom: 20px;
		padding: 0 80px;
	}
}

.page-header {
	margin: 40px auto 20px;
}

.page-title {
	@include banner-bg( $size-post-width );
	@include font-size( $font-size-level-1 );
	line-height: 0.9;
	font-weight: 400;
	color: $white;

	&:before {
		background-image: url( "#{$svg-w}" );
		background-size: 1000px auto;
		background-repeat: no-repeat;
		background-position: 52vw -160px;
	}
}

.entry-title {
	margin-bottom: 20px;
	@include font-size( $font-size-level-2 );
	font-family: $font-header;
	font-weight: 500;
	color: $blue-600;
}

.page-content,
.entry-content,
.entry-summary {
	margin-top: 0;
}

.entry-meta,
.entry-footer {
	margin-bottom: 20px;
	@include font-size( $font-size-small );

	span + span {
		margin-left: 8px;
	}

	.byline {
		display: none;

		body.single & {
			display: inline;
			margin-left: 4px;
		}
	}
}

.post-navigation {
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	padding: 10px 0;
	@include font-size( $font-size-small );

	a {
		color: $color-text;

		@include hover-state {
			color: $color-text;
		}
	}

	.nav-previous:before {
		content: '\2190';
		margin-right: 4px;
	}

	.nav-next:after {
		content: '\2192';
		margin-left: 4px;
	}
}

@import 'content/home';
@import 'content/404';
@import 'content/contact';
@import 'content/organizers';
@import 'content/tickets';
@import 'content/schedule';
@import 'content/attendees';
@import 'content/day-of';
