.page-navigation-container {
	position: relative;
	z-index: 1;

	.menu-primary-nav-container {
		@include container;
		position: relative;
	}

	a {
		padding: 30px 20px;
		color: $white;
		@include uppercase( 1.8, 1.5 );
		line-height: 1;
		font-weight: 900;
	}

	li:hover,
	li.focus {
		background: $white;

		a {
			text-decoration: none;
		}
	}

	ul ul {
		top: 78px;
		background: $white;
		padding: 10px 0 20px;

		a {
			padding: 8px 30px;
			width: 17em;
		}

		li:hover,
		li.focus {
			a {
				margin-left: -15px;

				&:before {
					display: inline-block;
					content: '\25cf';
					width: 13px;
					margin-right: 2px;
				}
			}
		}
	}

	.callout {
		position: absolute;
		right: 0;

		a {
			padding: 30px 50px;
		}

		&:hover,
		&.focus {

			a {
			}
		}
	}

	@media ( min-width: $size-main-width ) {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: calc( 50vw + #{$size-main-width/2} );
		}
	}
}

.js .menu-toggle {
	width: 100%;
}

@media screen and ( max-width: 37.5em ) {
	.js .dropdown-toggle {
		display: none;
	}

	.page-navigation-container {
		li {
			display: block;
			float: none;
		}

		li:hover,
		li.focus {
			background: transparent;

			a {
				color: $white;
				text-decoration: none;
			}
		}

		a:focus {
			background: $white;
		}

		a {
			padding: 10px !important;
		}

		ul ul {
			display: block;
			float: none;
			position: static;
			padding: 0 0 0 15px;
			box-shadow: none;
			background: transparent;

			a {
				width: 100%;
				color: $white;
			}
		}

		.callout {
			position: static;
			width: 100%;

			a {
			}
		}
	}
}
