.site-header {
	position: relative;
	z-index: 100;
	@include container( $size-max-width );
	padding: 60px 40px;
	display: flex;
	justify-content: space-between;
}

.custom-header {
	width: 174px;
	flex: 1 0 174px;

	.custom-logo-link {
		display: block;
		border-bottom: none !important;
	}

	img {
		height: 50px;
		width: 174px;
	}
}

.page-navigation-container {
	margin-left: 40px;

	.menu-primary-container > ul {
		display: flex;
		justify-content: flex-end;

		& > li {
			float: none;
		}
	}

	a {
		padding: 16px 20px;
		@include uppercase( 1.8, 1 );
		line-height: 1;
		font-weight: 900;
		border-bottom: none;
	}

	li:hover,
	li.focus {
		a {
			text-decoration: none;
		}
	}

	ul ul {
		top: 50px;
		background: $white;
		padding: 10px 0 20px;
		box-shadow: none;

		a {
			padding: 8px 30px;
			width: 320px;
		}

		li:hover,
		li.focus {
			a {
				margin-left: -15px;

				&:before {
					display: inline-block;
					content: '\25cf';
					width: 13px;
					margin-right: 2px;
				}
			}
		}
	}

	.callout {
		a {
			padding: 16px 50px;
			color: $orange-600;
		}

		&:hover,
		&.focus {
			a {
				color: $orange-400;
			}
		}
	}
}

.js .menu-toggle {
	width: 100%;
}

@media screen and ( max-width: 782px ) {
	.site-header {
		display: block;

		.custom-header {
			margin: 0 auto 40px;
		}
	}

	.js .menu-toggle {
		display: block;
	}

	// Dropdowns are shown by default, so we don't need this.
	.js .dropdown-toggle {
		display: none;
	}

	.page-navigation-container {
		margin-left: 0;

		.menu-primary-container > ul {
			display: none;
			margin-top: 40px;
		}

		&.toggled-on .menu-primary-container > ul {
			display: block;
		}

		li {
			float: none;
		}

		li:hover,
		li.focus {
			background: transparent;

			a {
				text-decoration: none;
			}
		}

		a {
			padding: 10px !important;

			&:focus {}
		}

		ul ul {
			display: block;
			float: none;
			position: static;
			padding: 0 0 0 15px;
			box-shadow: none;
			background: transparent;

			a {
				width: 100%;
			}
		}
	}
}
