* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: $color-text;
	font-family: $font-body;
	@include font-size( $font-size-body );
	line-height: 1.55;
}

button,
input,
select,
textarea {
	font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
	clear: none;
	font-family: $font-header;
}

h1 {
	font-family: $font-fancy;
}

.wp-block-separator,
hr {
	height: 2px;
	max-width: 66%;
	border-bottom: 0;
	background-color: $green-silver;
}


p {
	margin: 0 0 15px;
}

ul, ol {
	margin-left: 0;
	padding-left: 20px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a, a:visited {
	color: currentColor;
	text-decoration: none;
	border-bottom: 2px solid $orange;

	@include hover-state {
		color: $auburn;
		border-bottom: 2px solid $auburn;
	}
}

.entry-title {
	@include font-size( $font-size-level-1 );
}

.entry-content {
	h1, h2 {
		margin: 30px 0 15px;
		line-height: 1.32143;
	}
	h1 {
		@include font-size( $font-size-level-1 );
	}
	h2 {
		@include font-size( $font-size-level-2 );
	}
	h3 {
		@include font-size( $font-size-level-3 );
	}
	h4 {
		@include font-size( $font-size-level-4 );
		line-height: 1.2;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
	margin: 0;
	width: 100%;
	@include font-size( 1.8 );

	line-height: 1;
	color: $color-text;
	background: $white;
	border: none;
	box-shadow: none;

	@include input-placeholder {
		color: rgba( $color-text, 0.5 );
		opacity: 1;
	}

	&:focus {
		outline: 2px solid rgba( $color-text, 0.6 );
		box-shadow: inset 0 2px 3px 0 rgba( black, 0.15 );
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 12px 20px 15px;
}

select {
	width: auto;
	padding: 10px 30px 5px 15px;
	line-height: 1.5;
}

textarea {
	padding: 10px 20px 8px;
	width: 100%;
	line-height: 1.5;
	border-width: 1px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
	font-size: 1em;
	vertical-align: middle;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
a.cta-button {
	display: inline-block;
	margin: 0;
	padding: 12px 20px 15px;
	border-radius: 0;
	border: none;
	text-shadow: none;
	box-shadow: none;

	@include button;
	@include uppercase( 1.8 );
}

.entry-content .wp-block-button__link {
	border-radius: 0;
	@include button( $orange, $color-text );
	@include uppercase( 1.8 );

	@include hover-state {
		color: $color-text;
		background: $auburn;
	}
}

.wp-caption {
	border: none;
	margin-bottom: 1em;

	img {
		margin: 0;
		max-width: 100%;
	}

	.wp-caption-text {
		margin: 10px 0 8px;
		text-align: left;
	}
}
