* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: $color-text;
	font-family: $font-body;
	@include font-size( $font-size-body );
	line-height: 1.55;
}

.site-content {
	background: $grey-100;
}

button,
input,
select,
textarea {
	font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	clear: none;
	font-family: $font-header;
	font-weight: 500;
	line-height: 1.2;
}

h1 {
	font-family: $font-fancy;
}

p,
div[class*="wp-block-"] {
	margin: 0 0 20px;
}

ul, ol {
	margin-left: 0;
	padding-left: 20px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a, a:visited {
	color: currentColor;
	text-decoration: none;
	border-bottom: 2px solid $orange-400;

	@include hover-state {
		color: $orange-600;
		border-bottom: 2px solid $orange-600;
	}
}

.entry-title {
	@include font-size( $font-size-level-1 );
}

.entry-content {
	h1, h2 {
		margin: 30px 0 15px;
		line-height: 1.32143;
	}
	h1 {
		@include font-size( $font-size-level-1 );
		line-height: 1;
	}
	h2 {
		color: $blue-600;
		@include font-size( $font-size-level-2 );
	}
	h3 {
		color: $color-meta;
		font-weight: 700;
		@include font-size( $font-size-level-3 );
	}
	h4 {
		font-family: $font-body;
		font-weight: 700;
		@include font-size( $font-size-level-4 );
		line-height: 1.2;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
	margin: 0;
	width: 100%;
	@include font-size( 1.8 );

	line-height: 1;
	color: $color-text;
	background: $white;
	border: none;
	box-shadow: none;

	@include input-placeholder {
		color: rgba( $color-text, 0.5 );
		opacity: 1;
	}

	&:focus {
		outline: 2px solid rgba( $color-text, 0.6 );
		box-shadow: inset 0 2px 3px 0 rgba( black, 0.15 );
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 12px 20px 15px;
}

select {
	width: auto;
	padding: 10px 30px 5px 15px;
	line-height: 1.5;
}

textarea {
	padding: 10px 20px 8px;
	width: 100%;
	line-height: 1.5;
	border-width: 1px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
	font-size: 1em;
	vertical-align: middle;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
a.cta-button,
a.comment-reply-link,
#tix .tix-submit .tix-checkout-button {
	display: inline-block;
	margin: 0;
	padding: 16px 40px;
	border: none;
	text-shadow: none;
	box-shadow: none;

	@include button;
	@include uppercase( 1.6 );
}

.entry-content .wp-block-button__link {
	@include button-secondary;
	@include uppercase( 1.8 );

	@include hover-state {
		color: $white;
		background: $orange-600;
	}
}

.alignwide,
.googlemaps,
#tix {
	max-width: $size-post-width;
	margin: 40px -80px;

	@media ( max-width: 600px ) {
		margin-left: -40px;
		margin-right: -40px;
	}
}

#tix {
	margin-top: 0;
}

.wp-caption,
.wp-block-image {
	border: none;
	margin-bottom: 1em;

	img {
		margin: 0;
		max-width: 100%;
	}

	figcaption,
	.wp-caption-text {
		margin: 10px 0 8px;
		color: $color-meta;
		@include font-size( $font-size-small );
	}
}

hr,
.wp-block-separator {
	margin: 30px auto 50px;
	height: 2px;
	max-width: 66%;
	border-bottom: 0;
	background-color: $grey-200;

	&.is-style-dots {
		height: 50px;
		background: transparent url( "#{$svg-border}" ) no-repeat center;
		&:before {
			content: '';
		}
	}
}

.wp-block-quote {
	margin: 0 0 20px;
	padding-left: 20px;
	border-left: 4px solid $blue-600;

	p:last-of-type {
		margin-bottom: 0px;
	}

	cite {
		color: $color-meta;
		font-style: normal;
		@include uppercase( 1.2 );

		&:before {
			content: '— ';
		}
	}

	&.is-style-large {
		margin: 0 0 20px;
		border-left: none;

		p {
			color: $blue-600;
			font-family: $font-header;
			font-weight: 500;
			font-style: normal;
			@include font-size( 5.0 );
		}

		cite {
			@include font-size( 1.2 );
		}
	}
}

.wp-block-pullquote {
	p {
		font-family: $font-fancy;
		font-weight: 400;
		@include font-size( 5.0 );
		line-height: 1;
		color: $color-text;
	}

	cite {
		color: $color-meta;
		font-style: normal;
		@include uppercase( 1.2 );

		&:before {
			content: '— ';
		}
	}
}

.wp-block-cover {
	.wp-block-cover-text {
		font-family: $font-fancy;
		font-weight: 400;
		@include font-size( 10.0 );
		line-height: 1;
	}
}

.has-large-font-size {
	line-height: 1.4;
}
