$size-main-width: 1160px;
$size-post-width: 780px;

$bkpt-phone: 450px;
$bkpt-tablet: 800px;

$font-body: "proxima-nova",sans-serif;
$font-header: "freight-sans-condensed-pro",sans-serif;

$font-size-body: 2;
$font-size-level-1: 5.6;
$font-size-level-2: 4.2;
$font-size-level-3: 2.8;
$font-size-small: 1.6;

$dark-blue: #1d215f;
$teal: #38ccd5;
$tiffany-blue: #89dfee;
$cloudy-blue: #c9ccdd;
$fuchsia: #a00a74;
$tangerine: #ff9700;
$white: #ffffff;

$ugly-yellow: #c6dc00;
$ugly-yellow-40: rgba(198, 220, 0, 0.4);
$ugly-yellow-10: rgba(198, 220, 0, 0.1);

$color-text: $dark-blue;
