$size-main-width: 1160px;
$size-post-width: 780px;

$bkpt-phone: 450px;
$bkpt-tablet: 800px;

$font-body: "acumin-pro", sans-serif;
$font-header: "acumin-pro-condensed",sans-serif;
$font-fancy: "Unica One",sans-serif;

$font-size-body: 2.0;
$font-size-level-1: 10.0;
$font-size-level-2: 5.0;
$font-size-level-3: 3.6;
$font-size-level-4: 2.0;
$font-size-small: 1.6;

$white: #ffffff;
$bright-blue: #41D2FF;
$wp-blue: #0073AA;
$ocean-blue: #005F8C;
$orange: #DE541E;
$auburn: #9E2D00;
$pale-grey: #F5F9F7;
$green-silver: #BCD0C7;
$silver: #A9B2AC;
$grey: #898980;
$brown: #452F35;

$color-text: $brown;
