body.error404 {

	.page-content {
		padding-bottom: 160px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;

		& > *:nth-child( 1 ),
		& > *:nth-child( 2 ) {
			grid-column: 1 / span 2;
		}

		.widget + .widget {
			margin: 0;
		}
	}

	.search-form {
		display: grid;
		grid-template-columns: 1fr 200px;

		label {
			margin: 0;
		}

		input {
			border-radius: 0;
		}
	}
}
