body.page-id-2309,
body.page-id-1648 {

	.entry-title {
		padding: 60px 0 340px;
		text-align: center;

		@media ( max-width: 600px ) {
			padding-bottom: 220px;
		}

		&:before {
			background-position: 50% 240px;

			@media ( max-width: 600px ) {
				background-size: 500px auto;
			}

			@media ( max-width: 600px ) {
				background-position: 50% 180px;
			}
		}
	}
}
