body.home {
	// Local variables
	$page-bg: $brown;
	$card-bg: $white;

	#content-widgets {
		background: $page-bg;
	}

	// Top Banner "Celebrating…"
	#content-widget-1 {
		margin-top: 0;
		padding-bottom: 120px;
		color: $white;
		@include light-on-dark;

		background-image: url( "#{$svg-w}" );
		background-size: 800px auto;
		background-repeat: no-repeat;
		background-position: 48vw center;

		.widget {
			@include container;
			padding: 80px 80px 0;
		}
	}

	.content-area {
		background: $page-bg;
	}

	.site-main {
		@include container;
		background: $card-bg;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: $page-bg;
		}
	}

	.hentry {
		padding: 0;
	}

	.entry-header {
		display: none;
	}

	$offset: 300px;
	.site-main {
		padding: 80px #{ $offset + 100px } 80px 80px;

		&:after {
			right: 0;
			width: $offset;
		}
	}

	@media screen and ( max-width: 782px ) {
		$offset: 100px;
		.content-area {
			padding-top: $offset;
		}

		.site-main {
			padding-right: #{ $offset + 100px };

			&:after {
				width: $offset;
			}
		}
	}

	@media screen and ( max-width: 600px ) {
		$offset: 40px;
		.content-area {
			padding-top: $offset;
		}

		.site-main {
			padding-left: 40px;
			padding-right: #{ $offset + 40px };

			&:after {
				width: $offset;
			}
		}
	}

	@media screen and ( max-width: 480px ) {
		$offset: 40px;
		.content-area {
			padding-top: $offset;
		}

		.site-main {
			padding-left: 40px;
			padding-right: #{ $offset + 40px };

			&:after {
				width: $offset;
			}
		}
	}
}
