// Home, but not either of these page IDs
body.home:not(.page-id-2309):not(.page-id-1648) {
	// Local variables
	$page-bg: $brown;
	$card-bg: $grey-100;

	#content-widgets {
		background: $page-bg;
	}

	// Top Banner "Celebrating…"
	#content-widget-1 {
		margin-top: 0;
		padding-bottom: 120px;
		color: $white;
		@include light-on-dark;

		background-image: url( "#{$svg-w}" );
		background-size: 800px auto;
		background-repeat: no-repeat;
		background-position: 48vw center;

		.widget {
			@include container;
			padding: 80px 80px 0;
		}
	}

	.site-content {
		background: $page-bg;
	}

	.content-area {
		@include container;
		padding-bottom: 160px;
		padding-right: 300px;
		position: relative;

		@media ( max-width: 782px ) {
			padding-right: 80px;
		}

		@media ( max-width: 600px ) {
			padding-right: 40px;
		}
	}

	.site-main {
		margin: 0;
		background: $card-bg;
	}

	.hentry {
		padding: 0;
	}

	.entry-header {
		display: none;
	}

	.entry-content {
		position: relative;
		padding-right: 140px;

		@media ( max-width: 782px ) {
			padding-right: 80px;
		}

		@media ( max-width: 600px ) {
			padding-right: 40px;
		}
	}

	.wp-block-spacer.full-width-spacer {
		margin: 140px -141px 80px -81px;
		background: $page-bg;

		@media ( max-width: 782px ) {
			margin-right: -81px;
		}

		@media ( max-width: 600px ) {
			margin-right: -41px;
		}
	}

	.home-image-1,
	.home-image-2 {
		border: 3px solid $white;
		box-shadow: 0 0 20px rgba( $page-bg, 0.1 );
	}

	@media ( min-width: 1140px ) {
		.home-image-1,
		.home-image-2 {
			position: absolute;
			top: 150px;
			right: -360px;
			transform: scale( 0.75 ) rotate( 15deg );
		}

		.home-image-2 {
			top: 400px;
			transform: scale( 0.75 ) rotate( -15deg );
		}
	}

	.wp-block-latest-posts {
		list-style: none;
		padding-left: 0;

		li {
			margin-bottom: 40px;
		}

		a {
			display: inline-block;
			margin-bottom: 16px;
			font-family: $font-header;
			@include font-size( $font-size-level-3 );
			line-height: 1.2;
			font-weight: 700;
			border-bottom: none;
			color: $color-meta;
		}

		time {
			font-family: $font-body;
			@include font-size( 1.6 );
			color: $color-meta;
		}
	}
}
