body.page-slug-speakers {
	.wordcamp-speakers > li {
		margin-bottom: 45px;
		text-align: center;
	}

	.wordcamp-speakers__title {
		font-family: $font-body;
		color: $color-text;
		font-weight: 700;
		@include font-size( $font-size-level-4 );
		line-height: 1.2;

		a {
			border-color: transparent;

			@include hover-state {
				border-color: $orange-400;
			}
		}
	}

	.avatar {
		width: 140px;
		border-radius: 50%;
		margin: 0 auto;
	}
}

body.single-wcb_speaker {
	.avatar {
		width: 140px;
		border-radius: 50%;
		display: block;
		float: left;
		margin-right: 1em;
	}
}
