.wcorg-sponsor-description a img {
	display: block;
}

.wordcamp-block.wordcamp-sponsors {

	.wordcamp-image__featured-image-link {
		display: block;
		border-bottom: none;
		margin-bottom: 24px;
	}
}
