#content-widget-1 {
	@include container;
	margin-bottom: 120px;

	.level-1 {
		@include font-size( $font-size-level-1 );
		line-height: 1.1;
		font-family: $font-header;
		font-weight: 900;
	}

	.level-2 {
		@include font-size( $font-size-level-2 );
		font-family: $font-header;
		font-weight: 900;
	}

	.button {
		display: inline-block;
		padding: 30px;
	}

	@media screen and ( max-width: $bkpt-phone ) {
		.level-1 {
			@include font-size( $font-size-level-2 );
		}

		.level-2 {
			@include font-size( $font-size-level-3 );
		}
	}
}
