#footer-widget-1 {
	background: $dark-blue;
	margin: 120px 0 60px;
	padding: 120px 20px;

	.widget-title {
		margin-top: 0;
		color: white;
		@include font-size( $font-size-level-2 );
		line-height: 1.2;
		text-align: center;
	}

	.widget {
		@include container( $size-post-width );

		color: $white;
	}

	form {
		display: grid;
		grid-template-columns: 1fr 200px;

		@media screen and ( max-width: $bkpt-phone ) {
			grid-template-columns: 1fr;
		}

		input {
			border-radius: 0;
		}

		p {
			margin-bottom: 0;
		}
	}

	#subscribe-email input {
		width: 100%;
	}

	#subscribe-text {
		grid-column: 1 / span 2;

		@media screen and ( max-width: $bkpt-phone ) {
			grid-column: 1;
		}
	}

	input[type="submit"] {
		width: 100%;
		height: 100%;
	}
}
