#primary-sidebar {
	margin-top: 60px;
	overflow: hidden;

	.widget-title {
		@include font-size( $font-size-level-1 );
		line-height: 1.2;
		text-align: center;
		margin-top: 0;
		margin-bottom: 60px;
	}

	.widget_custom_html {
		// Needs to be wider than the window so that the rotation
		// doesn't show white at the sides
		margin: 30px -10px 90px;
	}

	.custom-html-widget {
		@include container( $size-post-width );
		padding: 60px 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		align-items: center;
		text-align: center;

		.label {
			font-family: $font-header;
			@include font-size( $font-size-level-2 );
			line-height: 1.1;

			&.span-2 {
				grid-column: 1 / span 2;
			}
		}

		a {
			display: inline-block;
			padding: 20px 30px;
			font-family: $font-body;
			@include uppercase( $font-size-small );

			@include hover-state {
				box-shadow: 0 2.5px 7.5px 2.5px rgba( black, 0.2),
							0 0.5px 0.5px 0 rgba( black, 0.1);
			}
		}

		@media screen and ( max-width: $bkpt-tablet ) {
			grid-template-columns: 1fr;
			grid-gap: 30px 0;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.wcb_widget_sponsors {
		@include container;
		padding: 0 40px;

		// Hide all but highest level
		.sponsor-level {
			&.bronze,
			&.silver,
			&.small-business,
			&.consultant,
			.sponsor-level-title {
				display: none;
			}
		}

		.sponsor-level {
			display: grid;
			grid-template-columns: repeat( 4, 1fr );
			grid-gap: 30px;
			align-items: center;

			@media screen and ( max-width: $bkpt-tablet ) {
				grid-template-columns: repeat( 2, 1fr );
			}

			@media screen and ( max-width: $bkpt-phone ) {
				grid-template-columns: 1fr;
			}
		}

		.sponsor-logo {
			padding: 0;
		}
	}
}
